.img-position {
  position: relative;
  text-align: center;
  color: white;
}

.img-bg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  /* position: relative; */
}

.img-position::before {
  content: '';
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.563);
}

.img-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-img {
  width: 100%;
  height: 70vh;
  object-fit: fill;
}

.footer-img-caption {
  width: 100%;
  position: absolute;
  top: 10%;
}

.footer-icons {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
}

.footer-img-caption p {
  color: white;
}